<div class="backbuttondiv">
    <img src="/assets/back.png" id="back" (click)="back()"  ngbTooltip="Back to login."/>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body ">
            <!-- <img src="/assets/backbtn.png" id="back" (click)="back()" /> -->
            <div class="mt-2 mb-4">
              <img
                class="img-responsive center-block logoimg mr-3"
                src="/assets/newlogo2.png"
                ngbTooltip="Congressional Reporting System"
              /> Forgot your Password?
            </div>
            <div class="emailmessage">
                <p class="text-break ">
                    Enter your email address below to reset your password. You will be sent an email
                    which you will need to confirm your identification.
                </p>
            </div>
          
            <form
              class="form-signin"
            >
              <div class="form-label-group">
                <label >Email</label>
                <input
                  type="email"
                  class="form-control form-control-sm"
                />
               
              </div>
    
          
           
              <div class="form-group">
                <button
                  class="btn btn-primary"
                  type="submit"
                >
                  Submit
                </button>
              </div>
  
            </form>
                
          </div>
        </div>
      </div>
  
  </div>
  