.card-signin {
  color: black;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: -15px;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}
.form-signin input {
  background-color: #e8f0fe;
}
.form-signin .btn {
  float: right;
  margin-top: 5px;
}
.logoimg {
  width: 40px;

  border-radius: 4px;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}


.alertbox {
  color: white;
}
.forgot {
  color: #0747a6;
  font-size: 14px;
}
.createacc {
  color: #0747a6;
  font-size: 14px;
}
.createacc :hover {
  color: black;
}
.emailmessage{
    font-size: 13px;
    margin-bottom: 10px;
}
.backbuttondiv{
    margin-top: 15px;
    margin-left: 15px;
}
.backbuttondiv img{
    width: 30px;
}