<div class="backbuttondiv">
  <img src="/assets/back.png" id="back" (click)="back()"  ngbTooltip="Back to home."/>
</div>
<div class="container main">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body ">
            <div class="text-center mb-4">
              <img
                class="img-responsive center-block logoimg"
                src="/assets/newlogo2.png"
                ngbTooltip="Congressional Reporting System"
              />
            </div>
  
            <h5 class="card-title" *ngIf="!isLoggedIn">Sign in to CRS</h5>
            <form
              class="form-signin"
              *ngIf="!isLoggedIn"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
              <div class="form-label-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="username"
                  [(ngModel)]="form.username"
                  required
                  #username="ngModel"
                />
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && username.invalid"
                >
                  Username is required!
                </div>
              </div>
              <br />
              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input
                  type="password"
                  class="form-control form-control-sm"
                  name="password"
                  [(ngModel)]="form.password"
                  required
                  minlength="6"
                  #password="ngModel"
                />
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && password.invalid"
                >
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
              <p class="float-right mt-2 forgot" (click)="forgotPass()">Forgot Password</p>
              <div class="form-group">
                <button
                  class="btn btn-lg btn-primary btn-block text-uppercase"
                  type="submit"
                >
                  Sign in
                </button>
              </div>
  
              <div class="form-group ">
                <div
                  class="alert text-center alert-danger "
                  role="alert"
                  *ngIf="f.submitted && isLoginFailed"
                >
                  <p> Login failed: {{ errorMessage }}</p>
                  
                </div>
              </div>
            </form>
            <div
              class="alert  text-center bg-primary alertbox"
              *ngIf="isLoggedIn"
            >
              Logged in as {{ roles }}.
              <button class="btn btn-dark mt-4" (click)="Dashboard()">
                Continue to Dashboard.
              </button>
            </div>
            
                <div class="text-center createacc">
                  <p (click)="signup()"> Create Account <u>here.</u></p>
                </div>
          </div>
        </div>
      </div>
  
  </div>
  