
.card-signin {
    color: black;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, .5  );
  
    
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: -15px;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
    margin-top: -20px;
  }
  .form-signin input{
    background-color: #E8F0FE;
  }
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  .logoimg {
    width: 80px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0.5rem .5rem 0 rgba(0, 0, 0, .1);
  }

.alertbox{
  color: white;
}
.forgot{
  color: #0747A6;
  font-size: 14px;
  cursor: pointer;
}
 .createacc{
  color: #0747A6;
  font-size: 14px;
  cursor: pointer;
 } 
 .createacc :hover{
  color: black;
 } 
 .backbuttondiv{
  margin-top: 15px;
  margin-left: 15px;
}
.backbuttondiv img{
  width: 30px;
}
.main{
  margin-top: -45px;
}
.toast-success {
  background-color: blue;
}