<div class="container-flex mt-2">
    <div class="container text-center ml-5">
            <ngx-charts-pie-grid
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            (select)="onSelect($event)">
          </ngx-charts-pie-grid>
    </div>

</div>