<div class="container-fluid mt-2 divbody">
    <h5> Dashboard</h5>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab"  [routerLink]="'horizontal-graph'"
          routerLinkActive="active">Horizontal Bar Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab"  [routerLink]="'pie-grid'"
          routerLinkActive="active" >Pie Grid</a>
        </li>
      </ul>


        <router-outlet></router-outlet>

      </div>
  
      