<div class="container-fluid divbody">
    
    <div class="container-fluid mt-2 reports-filter">
        <h4 class="mt-1">Reports</h4>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputState">Report Type</label>
                  <select id="inputState" class="form-control form-control-sm">
                    <option>All</option>
                    <option>Provincial Report</option>
                    <option>District Report</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">Province</label>
                  <select id="inputState" class="form-control form-control-sm">
                      <option value="">All</option>
                      <option [ngValue]="province" *ngFor="let province of provinces">{{province.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputState">District</label>
                  <select id="inputState" class="form-control form-control-sm">
                      <option value="">All</option>
                    <option [ngValue]="district" *ngFor="let district of districts">{{district.name}}</option>
                </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">Program</label>
                  <select id="inputState" class="form-control form-control-sm">
                      <option value="">All</option>
                      <option [ngValue]="program" *ngFor="let program of programs">{{program.name}}</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">Year</label>
                  <select id="inputState" class="form-control form-control-sm">
                    <option value="">All</option>
                    <option>2018</option>
                    <option>2019</option>
                  </select>
                </div>
              </div>
              <button type="button" class="btn btn-primary float-right btn-sm" (click)="onDownload()">
                Generate Report
              </button>
            </form>
          </div>
    <div class="container reportpanel">
            <button type="button" class="btn btn-sm btn-primary  float-right"><i class="fa fa-download"></i></button>
            <p>No reports generated.Click generate reports button.</p>
        </div>
        <ngx-spinner
        bdColor="rgb(0,123,254)"
        size="large"
        color="#FFFFFF"
        type="ball-scale-multiple"
      >  <p style="font-size: 20px; color: white">Loading...</p></ngx-spinner>
</div>