<div class="container-fluid divbody">
    <div class="container-fluid">
      <br />
      <button class="btn btn-light float-right" (click)="openProgramForm(null)">
        Add Program
      </button>
      <h4>Programs</h4>
      <div class=" searchbar">
        <input
          type="text"
          class="form-control form-control-sm "
          placeholder="Search Program"
          name="search" [(ngModel)]="filter"
        />
      </div>
      <table class="table table-hover mt-2 table-sm noborder">
        <thead>
          <tr>
            <th>Program Name</th>
            <th>Department</th>
            <th>Target</th>
            <th>Funds</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="tabody">
          <tr *ngFor="let program of programsData | filter:filter | paginate: { itemsPerPage: 7, currentPage: p }">
            <td> <img src="/assets/pro.png" style="width: 20px" class="mr-2"/> {{ program.name }}</td>
            <td>{{ program.department }}</td>
            <td>{{ program.target }}</td>
            <td>{{ program.funds }}</td>
            <td>
              <button
                class="btn  btn-sm "
                (click)="openProgramForm(program)"
                ngbTooltip="Edit Program"
              >
                <img src="/assets/edit.png" style="width: 15px" />
              </button>
              <button class="btn  btn-sm ml-1" (click)="onDelete(program)"  ngbTooltip="Delete Program">
                <img src="/assets/bin.png" style="width: 15px" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
   
  </div>
  