<div class="container-fluid divbody">
        <div class="container-fluid">
          <br />
          <button class="btn btn-light float-right" (click)="openProgramForm(null)">
            Create Notification
          </button>
          <h4>Acitivity Log</h4>
          <div class=" searchbar">
            <input
              type="text"
              class="form-control form-control-sm "
              placeholder="Search Notification"
            />
          </div>

        </div>
       
      </div>
      