<div class="container-fluid ">
  <form class="formdesign">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input
          class="form-control form-control-sm"
          type="text"
          name="search"
          [(ngModel)]="filter"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
      <div class="form-group col-md-6 btnimage">
        <button class="btn blu btn-sm ml-2 " (click)="openinsertdataform()">
          <img src="/assets/add.png" alt="" /> Insert Data
        </button>
        <button class="btn blu btn-sm ml-2 " (click)="onDownload()">
          <img src="/assets/download.png" alt="" /> Download Format
        </button>
        <button class="btn blu btn-sm ml-2 ">
          <img src="/assets/excel.png" alt="" /> Import CSV file
        </button>
      </div>
    </div>

    <div class="form-row mar">
      <div class="form-group col-md-4">
        <select id="inputState" class="form-control form-control-sm">
          <option
            [ngValue]="program"
            name="programselect"
            *ngFor="let program of programs"
            >{{ program.name }}</option
          >
        </select>
      </div>
      <div class="form-group col-md-4">
        <select
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="provId"
          (ngModelChange)="getProvId()"
          class="form-control form-control-sm"
        >
          <option [ngValue]="province.id" *ngFor="let province of provinces">{{
            province.name
          }}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <select
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="districtId"
          (ngModelChange)="getDistrictId()"
          class="form-control form-control-sm"
        >
          <option [ngValue]="district.id" *ngFor="let district of districts">{{
            district.name
          }}</option>
        </select>
      </div>
    </div>
  </form>
  <!-- <table class="table table-hover table-sm mar noborder">
      <thead>
        <tr>
          <th>Municipality</th>
          <th>No. of Target Benes</th>
          <th>No. of Served Benes</th>
          <th>Amount Allocated</th>
          <th>Amount Disbursed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let municipality of municipalities | filter:filter | paginate: { itemsPerPage: 7, currentPage: p }">
          <td>{{municipality.name}}</td>
          <td>{{municipality.targetbenes}}</td>
          <td>{{municipality.servedbenes}}</td>
          <td>{{municipality.amountallocated}}</td>
          <td>{{municipality.amountdisbursed}}</td>
        </tr>
      </tbody>
    
    </table> -->
  <table class="table table-hover table-sm mar noborder">
    <thead>
      <tr>
        <th>Province </th>
        <th>District Name</th>   
        <th>Municipality Name</th>
        <th>Served Beneficiaries</th>
        <th>Target Beneficiaries</th>
        <th>Amount Disbursed</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let jointable of jointables
            | filter: filter
            | paginate: { itemsPerPage: 7, currentPage: p }
        "
      >
        <td>{{ jointable.provinceName }}</td>
        <td>{{ jointable.districtName }}</td>
        <td>{{ jointable.municipalityName }}</td>
        <td>{{ jointable.municipalityServedBenes }}</td>
        <td>{{jointable.municipalityTargetBenes}}</td>
        <td>{{ jointable.municipalityAmountDisbursed }}</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<div class="totaldiv mb-4">
  <form>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label class=" col-form-label-sm"
          >Provincial Total No. of Beneficiaries</label
        >
        <input class="form-control form-control-sm mar" />
      </div>
      <div class="form-group col-md-3">
        <label class=" col-form-label-sm"
          >Provincial Total Amount Disbursed</label
        >
        <input class="form-control form-control-sm mar" />
      </div>
      <div class="form-group col-md-3">
        <label class=" col-form-label-sm"
          >District Total No. of Beneficiaries</label
        >
        <input
          class="form-control form-control-sm mar"
          value="{{ totalservedbenes }}"
        />
      </div>
      <div class="form-group col-md-3">
        <label class=" col-form-label-sm"
          >District Total Amount Disbursed</label
        >
        <input
          class="form-control form-control-sm mar"
          value="{{ totalamtdisbursed }}"
        />
      </div>
    </div>
  </form>
</div>
