.carou{
    background-color: #0264FB ;
    height: 600px;
    border-bottom-right-radius: 50% 75px;
  border-bottom-left-radius:  50% 75px;
}
.left{
    margin-top: 200px;
}
img{
    max-width:100%
}
h1{
    color: white;
}
.slide1{
  padding: 20px 20px;
}
.slide1 img {
  width: 80%;
}

#tophead {
    max-height: 10px;
    background-color: black;
    color: white;
    font-size: 7px;
  }
.active{
    color: black;
}

.navbar-brand img{
    max-width: 40px;
}
  .navbar {
    background-color: #0264FB;
    max-height: 60px;
    /* z-index: 10000; */
    /* border-bottom: #E9E9E9 .1px solid; */
    margin-top: -15px;
    /* box-shadow: 0px 10px 10px -15px #111; */
  }
  .navbar-nav a {
    color:   white;
    font-size: 13px;
    margin-right: 7px;
    cursor: pointer;
    padding: 10px 10px;
    margin-left: 15px;
    /* height: 15px; */
  }

  .navbar-brand img {
   width: 80px;
  }
  .nav-item img{
    max-width: 30px;
  }
  .systemname{
      color: white;
      font-size: 15px;
  }
  .noti img{
    max-height: 20px;
  }
  .app-name{
    border-bottom: 1px solid #1DF94B ;
    color: #1D8BF9 ;
  }
  .logs{
      width: 25px;
      border-radius: 3px;
  }
.navicon img{
  width: 30px;
  border-radius: 2px;
}
.white{
  color: white;
}
.featurediv{
  margin-top: 10px;
  height: 300px;
  margin-bottom: 40px;
  text-align: center;
 
}
.video-fluid {
  width: 100%;
  height: auto;
}
.cardbody{


}
.footer1{
  margin-top: 30px;
  height: 200px;
  background-color:#0264FB;
  
}