<div class="container-fluid divbody">
  <div class="container-fluid">
    <br />
    <button class="btn btn-light btn-sm float-right" (click)="openUploadFrom()">
      Upload File
    </button>
    <h4>Reports File Storage</h4>
    <div class=" searchbar">
      <input
        type="text"
        class="form-control form-control-sm "
        placeholder="Search Report File"
        name="search"
        [(ngModel)]="filter"
      />
    </div>
    <br />
  </div>

  <div class="container-fluid">
    <table class="table  table-sm  noborder">
        <ngx-spinner
    bdColor="rgb(0,123,254)"
    size="large"
    color="#FFFFFF"
    type="ball-scale-multiple"
  >  <p style="font-size: 20px; color: white">Loading...</p></ngx-spinner>
      <thead>
        <tr>
          <!-- <th>Id</th> -->
          <th>Report Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let report of reports
              | filter: filter
              | paginate: { itemsPerPage: 7, currentPage: p }
          "
        >
          <!-- <td><img src="/assets/pdf.png" class="pdflogo mr-3"> {{report.id}}</td> -->
          <td>
            <a
              ><img src="/assets/pdf.png" class="pdflogo mr-3" />
              {{ report.fileName }}</a
            >
          </td>

          <td>
            <button
              class="btn btn-sm mr-1"
              (click)="onDelete(report)"
              ngbTooltip="Delete Report"
            >
              <img src="/assets/bin.png" style="width: 15px" />
            </button>
            <button
              class="btn btn-sm "
              (click)="onDownload(report.id)"
              ngbTooltip="Download Report"
            >
              <img src="/assets/download2.png" style="width: 15px" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
