.card-signin {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, .5  );
    max-width: 500px;
  
color: black;
   
  }
  
  .card-signin .card-title {
 
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: -15px;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  .logoimg {
      width: 80px;
      text-align: center;
      border-radius: 4px;
      box-shadow: 0 0.5rem .5rem 0 rgba(0, 0, 0, .1);
  }
  label {
    display: block;
    margin-top: -5px;
    font-size: 15px;
  }
  .backbuttondiv{
    margin-top: 15px;
    margin-left: 15px;
  }
  .backbuttondiv img{
    width: 30px;
  }
  .main{
    margin-top: -45px;
  }