 <div class="container-flex mt-2">
        <form>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">Program</label>
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                            <option [ngValue]="program" *ngFor="let program of programs">{{program.name}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">Province</label>
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                            <option [ngValue]="province" *ngFor="let province of provinces">{{province.name}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">Year</label>
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                      <option>2020</option>
                      <option>2019</option>
                      <option>2018</option>
                      <option>2017</option>
                    </select>
                  </div>
                </div>
              </form>
              
              <div class="container-flex mt-2 text-center">
              <h5>DSWD Program Real Time Data Graph</h5>
                <ngx-charts-bar-horizontal-2d
                [view]="view"
                [scheme]="colorScheme"
                [results]="multi"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [legendTitle]="legendTitle"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
              </ngx-charts-bar-horizontal-2d>
              </div> 
      
 </div>
 