<div class="container-fluid addbody">
    <div class="container">
      <h4>{{ headTitle }}</h4>
      <hr />
      <form (ngSubmit)="submit()" #programForm="ngForm">
        <div class="form-group row">
          <label for="programname" class="col-sm-3 col-form-label"
            >Program Name</label
          >
          <div class="col-sm-9">
            <input
            #name="ngModel"
            [(ngModel)]="newName"
            name="name"
            type="text"
            class="form-control form-control-sm"
            required
            placeholder="Program Name"
            minlength="5"
            maxlength="50"
            autocomplete="off"
            />
            <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="invalid"
          >
            <div class="alert alert-danger" *ngIf="name.errors.required">
              Program name is required
            </div>
            <div class="alert alert-danger" *ngIf="name.errors.minlength">
              Must be atleast 5 characters
            </div>
          </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="department" class="col-sm-3 col-form-label"
            >Department</label
          >
          <div class="col-sm-9">
            <select
              class="form-control form-control-sm my-1 mr-sm-2 "
              #department="ngModel"
              [(ngModel)]="newDepartment"
              name="department"
              required
            >
              <option value="Disasters Response Management Division">Disasters Response Management Division</option>
              <option value="Promotive Services Division">Promotive Services Division</option>
              <option value="Protective Services Division">Protective Services Division</option>
            </select>
            <div
            *ngIf="department.invalid && (department.dirty || department.touched)"
            class="invalid"
          >
            <div class="alert alert-danger" *ngIf="department.errors.required">
                  department is required
            </div>
          </div>
          </div>
          <em class="ml-auto"
            >Fixed Departments for the DSWD Planning team provided.</em
          >
        </div>
        <div class="form-group row">
          <label for="target" class="col-sm-3 col-form-label"
            >Target</label
          >
          <div class="col-sm-9">
            <input
            #target="ngModel"
            [(ngModel)]="newTarget"
            name="target"
            type="number"
            class="form-control form-control-sm"
            required
            placeholder="target beneficiaries"
            autocomplete="off"
            />
            <div
            *ngIf="target.invalid && (target.dirty || target.touched)"
            class="invalid"
          >
            <div class="alert alert-danger" *ngIf="target.errors.required">
                  target is required
            </div>
          </div>
          </div>
         
        
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-3 col-form-label"
            >Funds</label
          >
          <div class="col-sm-9">
            <input
            #funds="ngModel"
            [(ngModel)]="newFunds"
            name="funds"
            type="number"
            class="form-control form-control-sm"
            required
            placeholder="funds"
            autocomplete="off"
            />
            <div
            *ngIf="funds.invalid && (funds.dirty || funds.touched)"
            class="invalid"
          >
            <div class="alert alert-danger" *ngIf="funds.errors.required">
                  funds is required
            </div>
          </div>
      
          </div>
         
        </div>
        <div class="form-group ">
          <div>
                  <input
                  type="submit"
                  class="btn btn-primary float-right"
                  value="{{ program ? 'Update' : 'Create ' }}"
                  [disabled]="
                    !programForm.form.valid ||
                    (funds.pristine &&
                      name.pristine &&
                      department.pristine &&
                      target.pristine)
                  "
                />
                <button
                  type="button"
                  class="btn btn-dark mr-1 float-right"
                  (click)="activeModal.close()"
                >
                  Close
                </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  